<div class="portfolio">
    <figure class="portfoliobox">
        <img src="./img/city.jpg" alt="money">
        <figcaption class="text-centered">FUTURE - 2100</figcaption>
    </figure>

    <figure class="portfoliobox">
        <img src="./img/Business.jpg" alt="world">
        <figcaption class="text-centered">SMART MIND</figcaption>
    </figure>

    <figure class="portfoliobox">
        <img src="./img/Entrepreneur.jpg" alt="LEADERSHIP">
        <figcaption class="text-centered">LEADERSHIP</figcaption>
    </figure>

    <figure class="portfoliobox">
        <img src="./img/marketing.jpg" alt="DIGITALISATION">
        <figcaption class="text-centered">DIGITALISATION</figcaption>
    </figure>

    <figure class="portfoliobox">
        <img src="./img/team-work.jpg" alt="money">
        <figcaption class="text-centered">TEAM-WORK</figcaption>
    </figure>

    <figure class="portfoliobox">
        <img src="./img/design.jpg" alt="DESIGN&DEVELOPMENT">
        <figcaption class="text-centered">DESIGN&DEVELOPMENT</figcaption>
    </figure>
</div>
<hr>
